# Compiled Object files
*.o
*.obj
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.a
*.lib
# Executables
*.exe
# DUB
.dub
docs.json
__dummy.html
docs/
# Code coverage
*.lst
*.mtar
*.log
uim-fioriapps-test-library
projectmanager/build/projectmanager-test-tests
projectmanager/build/uim-projectmanager
*.ts
*/approuter/*
*/backlog/*
approuter/*
backlog/*
node_modules/*
*.map
*/node_modules/*
*/*/node_modules/*
*/*/*/node_modules/*
*/*/*/*/node_modules/*
*/*/*/*/*/node_modules/*
public/*
hallo/hello
.gitignore
hello-xsuaa/backend/hallo-xsuaa
material/frontend/dist/i18n/i18n_de.properties
landscape/backend/landscape-backend
landscape/backend/landscape-backend-test-application
materials/materials
materials/materials-test-application
materials/backend/materials
scanner/scanner-middleware
scanner/scanner-middleware-test-application
task-xsuaa/backend/hallo-xsuaa
task-xsuaa/backend/hello-xsuaa
task-xsuaa/backend/taskmanager-xsuaa
fiori/build/fiori-test-default
hallo/hello-test-application
hello-xsuaa/hello
hello-xsuaa/backend/hello-xsuaa
address/address_manager-test-application
edm/edm-test-default
projectmanager/projectmanager
projectmanager/mta_archives/projectmanager_1.0.0.mtar
tiles/backend/tiles_backend
projectmanager/mta_archives/projectmanager_1.0.0.mtar
materials/backend/materials-test-application
materials/backend/materials-test-application
project/backend/project
catalog3/backend/ui5-vibe-explorer
catalog3_1/backend/ui5-vibe-explorer
openui5_catalog3/backend/ui5-vibe-explorer
